.container {
  width: 1256px;
  margin-top: 71px;
}

.modules {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Styrene A Web', sans-serif;
  font-size: 26px;
  font-weight: 700;
}
