.container {
  margin-top: 29px;
}

.line {
  height: 2px;
  width: 140px;
  background-color: #FF3535;
  margin-top: 54px;
}

.module {
  display: flex;
  min-width: 595px;
}

.module_number {
  font-size: 32px;
  font-weight: 400;
}

.disciplines {
  width: 373px;
  margin: 25px 0 0 81px;
  & > ul > li {
    font-family: 'Styrene A Web', sans-serif;
    font-size: 16px;
    font-weight: 300;
    &::marker {
      color: #FF3535;
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    margin-top: 10px;
  }
  .line {
    display: none;
  }
  .module {
    flex-direction: column;
    max-width: 345px;
    margin-top: 0;
  }
  .module_number {
    min-height: 51px;
    max-width: 345px;
    display: flex;
    align-items: center;
    font-size: 18px;
    background-color: #F7F7F7;
    & > svg {
      margin-left: 24px;
    }
    & > span {
      margin-left: 27px;
    }
  }
  .disciplines {
    margin: 0;
    display: none;
  }
}
