.container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.study_programs {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.title {
  font-family: 'Styrene A Web', sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-top: 71px;
}

.blocks {
  display: flex;
  justify-content: center;
  margin-top: 147px;
}

.red_block, .black_block {
  height: 293px;
  width: 628px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  & h3 {
    font-size: 36px;
    font-weight: 700;
  }
}

.red_block {
  background-color: #FF3535;
  position: relative;
}

.red_block__content {
  width: 496px;
  font-size: 20px;
  font-weight: 300;
}

.red_block__rectangle {
  height: 0;
  width: 0;
  border-bottom: 43px solid #CD1800;
  border-right: 43px solid #ffffff;
  position: absolute;
  top: 0;
  right: 0;
}

.black_block {
  background-color: #2D2C2A;
  margin-left: 30px;
  & ul {
    max-width: 515px;
    font-weight: 300;
    font-size: 20px;
    & > li::marker {
      color: red;
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    align-items: unset;
  }
  .title {
    font-size: 28px;
    font-weight: 700;
    margin: 28px 15px 0 15px;
  }
  .study_programs {
    margin-top: 34px;
    align-items: center;
  }
  .blocks {
    flex-direction: column;
    align-items: center;
    margin-top: 44px;
  }
  .red_block, .black_block {
    max-width: 345px;
    & > h3 {
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 1.5px;
      margin: 31px 0 0 0;
    }
  }
  .red_block {
    max-height: 231px;
  }
  .red_block__rectangle {
    border-bottom: 26px solid #CD1800;
    border-right: 26px solid #ffffff;
  }
  .red_block__content {
    max-width: 300px;
    margin-top: 25px;
  }
  .black_block {
    margin: 23px 0 0 0;
    & > ul {
      max-width: 300px;
      margin-left: 12px;
      padding-left: 12px;
    }
  }
}
